.csh-ad-detail{
    width: 100%;
    height: fit-content;
    margin: 18px auto;
    padding: 10px;
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__image-wrapper{
        width: 30%;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            width: auto;
            height:100%;
            margin: 0px auto;
            border: 1px solid #2b2d42;
            padding: 10px;
            background-color: white;
        }
    }
    &__details{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;
        span{
            font-weight: 500;
        }
    }
    &__name{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__description{
        line-height: 26px;
    }
    &__not-available{
    // color: rgb(47 42 129);
    color: rgb(179, 36, 36);
        display:block;
        text-align: left;
        margin: 10px auto;
        padding: 8px 30px;
        border: none;
        border-radius: 24px;
    }
    &__star-icon{
        margin: -3px 2px;
        color: orange;
    }
    &__button-plus{
        margin-top: 15px;
    }
}