.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px auto 20px;
  width: 100%;
  height: fit-content;
  color: #fac9a0;

  &__inputs {
    width: 450px;
    padding: 15px 15px;
    display: block;
    background-color: #a1a1be;
    border-radius: 8px;
    margin-bottom: 1%;
    color: #f1d9d9;
  }
}
.login-footer {
  &__wrapper {
    margin: 0 auto;
    text-align: center;
    width: 50%;
  }
  &__signup,
  &__login {
    display: inline-block;
    margin: 0 auto;
    width: 150px;
    font-weight: 500;
    font-size: 16px;
    color: #BDC6D1;
    padding: 12px 0;
    margin: 10px;
    border: none;
    border-radius: 24px;
    background-color: #26374e;
    cursor: pointer;
    &:hover{
      background-color: #7fa3ce;
      color: #26374e;
  }
  }
}
