.button-plus-wrapper{
    padding: 10px 15px;
    border-radius: 24px;
    border: 1px solid #26374e;
    display: block;
    margin-left: 0;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    user-select: none;
    div{
        padding: 0 10px;
    }
    svg{
    margin: -2px;
    cursor: pointer !important;
    }
}