.csh-buttons{
    font-weight: 500;
    display: block;
    margin-right: auto;
    margin-left: 0;
    color: #BDC6D1;
    padding: 10px 15px;
    border: none;
    border-radius: 24px;
    background-color: #26374e;
        cursor: pointer !important;
        &:hover{
            background-color: #7fa3ce;
            color: #26374e;
        }
}