
.cart-page__footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    border:1px solid #e2cc71;
    border-radius: 10px;
    padding: 2%;
}
.cart-page__price{
    font-weight: 700;
}
.cart-page__button,.cart-page__login-button{
    font-weight: 700;
        color: #333;
        padding: 10px 30px;
        border: none;
        border-radius: 24px;
        background-color: #FFAE6D;
        cursor: pointer;
        &:hover{
            background-color: #ffa153;
        }
}
.cart-page__empty-message{
    color: rgb(248, 31, 31);
        display:block;
        text-align: center;
        margin: 10px auto;
        padding: 8px 30px;
        border: none;
        border-radius: 24px;
}
