
.login-button{
  position: relative;
  &__wrapper {
    transition: all 2s;
    width: 200px;
    height: fit-content;
    padding-top: 16px;
    display: none;
    position: absolute;
    top: 122%;
    right: -60px;
    z-index: 2;
  }
  &:hover {
    .login-button__wrapper {
      display: block;
    }
  }
  &__menu {
    background-color: #26374e;
    color: #BDC6D1;
    width: 100%;
    height: fit-content;
    padding: 10px 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    div , a {
    cursor:  pointer !important;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 8px 16px;
    
  }
  div{ 
    border: none; }
  }
 
}
