
.change-password{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    height: fit-content;
    color: #fac9a0;

    input {
      width: 450px;
      padding: 15px 15px;
      display: block;
      background-color: #eac9a0;
      border-radius: 8px;
      margin-bottom: 2%;
      color: #444;
    }
}
  .sign-up-footer {
    &__wrapper {
      margin: 0 auto;
      text-align: center;
      width: 50%;
    }
}
.change-password-btn{
    font-weight: 700;
        display: block;
        color: #333;
        padding: 10px 30px;
        border: none;
        border-radius: 24px;
      background-color: #bac9c0;
        cursor: pointer;
        &:hover{
            background-color: #ffa153;
        }
}
  
  