@charset "UTF-8";

@font-face {
  font-family: Shabnam;
  src: url("../src/tools/fonts/Shabnam-Light.eot");
  src: url("../src/tools/fonts/Shabnam-Light.eot") format("embedded-opentype"),
    url("../src/tools/fonts/Shabnam-Light.woff2") format("woff2"),
    url("../src/tools/fonts/Shabnam-Light.woff") format("woff"),
    url("../src/tools/fonts/Shabnam-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: Shabnam;
  src: url("../src/tools/fonts/Shabnam-Medium.eot");
  src: url("../src/tools/fonts/Shabnam-Medium.eot") format("embedded-opentype"),
    url("../src/tools/fonts/Shabnam-Medium.woff2") format("woff2"),
    url("../src/tools/fonts/Shabnam-Medium.woff") format("woff"),
    url("../src/tools/fonts/Shabnam-Medium.ttf") format("truetype");
  font-weight: 500;
}
body{
  background-color: #BDC6D1;

}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Shabnam;
}
input {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
a {
  padding: 5px;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
}
.click-shop-wrapper {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}
